
.container{
    display: grid;
    color: white;
}

.container::before {
content: "";
padding-top: 100%;
display: block;
grid-area: 1 / 1 / 3 / 2;
}

.backgroundImage {
width: 100%;
grid-area: 1 / 1 / 3 / 2;
z-index: 0;
}

.description {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    align-self: center;
    padding-left: clamp(3.815rem, 12vw + 1rem, 12rem);
}

.punchline {
    grid-area: 2 / 1 / 3 / 2;
    z-index: 1; 
    padding-left: clamp(3.815rem, 12vw + 1rem, 12rem);  
}